<footer>
  <div class="footer" style="margin-bottom:0; background-color: black">
    <br>
    <br>
  <div class="row" style="color:white; width:1400px; margin-left:175px">


   <div class="col-sm-3" style="text-align:center">
     <h2>Kontakt </h2>
     <p>Trg Nezavisnosti 22</p>
     <p>71 000 Sarajevo</p>
     <p>Bosna i Hercegovina</p>
     <br>
     <p style="font-weight: bold;">Telefon: +387 61 494 217<p>
     <p style="font-weight: bold;">Email: info@elma.com</p>

     <a href="https://www.facebook.com/StudioElma" class="fa fa-facebook"></a>
     <a href="https://www.instagram.com/frizerski_studio_elma/" class="fa fa-instagram"></a>

     </div>
    <div class="col-sm-4" style="text-align:center">
       <h2>Usluge</h2>
       <br>
       <p>Home</p>
       <p>About us</p>
       <p>Services</p>
       <p>Terms of service</p>
       <p>Privacy policy</p>
     </div>

      <div class="col-sm-5">
         <h5>Our Newsletter</h5>
         <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>


  <br>
    <input type="text" id="fname" name="firstname" style="width: 230px;  height: 38px;margin-left: 100px"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal" >
       Subscribe
    </button>
     </div>
     <div style="col-sm-1"></div>
   </div>
</div>

</footer>
