<%= render 'shared/navbar' %>
<head>
  <style>
    .salon {
      width: 400px;
      height: 400px;
      margin-left:50px
    }


    </style>
    </head>
 <p id="notice"><%= notice %></p>
<br>
<h1 style="text-align:center">Salons</h1>
<br>
<br>
<div class="container" style="margin-top:30px">
<div class="row" style="height: 400px;">
  <div class="col-sm-7">

    <p>Nalazimo se u gradu Sarajevu, naselje Alipašino Polje- C faza.</p>
    <p>Nalazimo se u gradu Sarajevu, naselje Alipašino Polje- C faza.</p>
    <p>Nalazimo se u gradu Sarajevu, naselje Alipašino Polje- C faza.</p>
    <p>Nalazimo se u gradu Sarajevu, naselje Alipašino Polje- C faza.</p>
    <p>Nalazimo se u gradu Sarajevu, naselje Alipašino Polje- C faza.</p>
    <p>Nalazimo se u gradu Sarajevu, naselje Alipašino Polje- C faza.</p>
    </div>



  <div class="col-sm-5">
    <%= image_tag("salon.jpg", class: "salon") %>

  </div>
</div>
</div>
