<%= render 'shared/navbar' %>

<h1 style="text-align:center; margin-top:100px">New Frizure</h1>

 <%= render 'form', frizure: @frizure %>

<%= link_to 'Back', frizures_path %>

<%= render 'shared/bottomm' %>
